<!-- pages/projects.md -->
<div class="projects">
  {% for category in include.display_categories %}
    <a id="{{ category }}" href=".#{{ category }}">
      <h2 class="category">{{ category }}</h2>
    </a>
    {% assign categorized_projects = site.projects | where: "category", category %}
    {% assign sorted_projects = categorized_projects | sort: "date" | reverse %}
    {% assign projects_by_year = sorted_projects | group_by_exp: "project", "project.date | date: '%Y'" %}
    
    <!-- Generate cards for each project -->
    <div class="container">
      {% if include.legacy %}
        {% for year in projects_by_year %}
          {% if year.name <= "2019" %}
          <div class="row row-cols-1 row-cols-md-1">
          {% for project in year.items %}
            {% include projects_horizontal.liquid %}
          {% endfor %}
          </div>
          {% endif %}
        {% endfor %}
      {% else %}
        {% for year in projects_by_year %}
          {% if year.name == include.year %}
          <p>共 {{ year.items.size }} 部</p>
          <div class="row row-cols-1 row-cols-md-1">
            {% for project in year.items %}
              {% include projects_horizontal.liquid %}
            {% endfor %}
          </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  {% endfor %}
</div>