---
layout: default
---
<div class="post">
  <article>
    <!-- Latest posts -->
    {% if site.latest_posts.enabled %}
      <h4>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">最近文章</a>
      </h4>
      {% include latest_posts.liquid %}
    {% endif %}
  </article>
</div>
